.container {
    width: 850px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333333;
    color: #fff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    justify-content:end ;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin-right: 300px;

}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;

}

.nav-links li a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: white;
}

.nav-links li .btn {
    background-color: #00bcd4;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 3px;
    font-size: 12px;

}
li .btn:hover{
    background-color: #50929b;
}

/* OTRA OPCION */
/* .btn {
    background-color: #00bcd4;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin: 20px 20px 15px 20px;  
    border-radius: 3px;
    font-size: 12px;
} */

